h1 { text-align: center }

P { text-align: center }

div {
    text-align: center;
  }

img {
  border-radius: 20px;
  width: 400px;
  height: 500px;
  }

  @media (max-width: 650px) {

img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  }
}

